{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>User Profile...</h1>
	<br>

		<div class="card mb-3">
	  <div class="row g-0">
	    <div class="col-md-3">
	    	
	    	{% if page_user.profile_pic %}
	      		<img src="{{ page_user.profile_pic.url }}" height="200" width="200">

	    	{% else  %}
	    		<img src="{% static 'images/default_profile.jpg' %}" height="200" width="200">
	    	{% endif %}
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">{{ page_user.user.first_name }}</h5>
	        <p class="small text-muted"> 

	        	{% if page_user.website_url %}
	        		<a href="{{ page_user.website_url }}">Website</a> | 
	        	{% endif %}
	        	{% if page_user.fb_url %}
	        		<a href="{{ page_user.fb_url }}">Facebook</a> | 
	        	{% endif %}
	        	{% if page_user.twitter_url %}
	        		<a href="{{ page_user.twitter_url }}">Twitter</a> | 
	        	{% endif %}
	        	{% if page_user.insta_url %}
	        		<a href="{{ page_user.insta_url }}">Istagram</a> | 
	        	{% endif %}
	        	{% if page_user.pinterest_url %}
	        		<a href="{{ page_user.pinterest_url }}">Pinterest</a>
	        	{% endif %} </p>
	        <p class="card-text">{{ page_user.bio }}</p>
	        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
	      </div>
	    </div>
	  </div>
	</div>
{% endblock content %}

