{% extends 'base.html' %}

{% block title %} Create a New Blog Post {% endblock title %}

{% block content %}

	<h1>{{ post.title }} {{ post.author.id }}</h1>
	<small>By: 
		{{ post.author.first_name }} 
		{{ post.author.last_name}} - 
		{{ post.post_date }} 

		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
			<a href="{% url 'update_post' post.pk %}">Edit</a> - <a href="{% url 'delete_post' post.pk %}">Delete</a></small><br>
			{% endif %}
	<p>{{ post.body|safe }}</p>
		{% else %}
		<hr>
	<br>
	{% endif %}
	

	<br><br>
	<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
	<br><br>
	<hr>
	<form action="{% url 'like_post' post.pk %}" method="POST">
		{% csrf_token %}
		<button type="submit" name="post_id" value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
	</form>
{% endblock content %}