{% extends 'base.html' %}

{% block title %} Create a New Blog Post {% endblock title %}

{% block content %}

	<h1>{{ post.title }}</h1>
	<small>By: 
		{{ post.author.first_name }} 
		{{ post.author.last_name}} - 
		{{ post.post_date }} 

		{% if user.is_authenticated %}
			<a href="{% url 'update_post' post.pk %}">Edit</a> - <a href="{% url 'delete_post' post.pk %}">Delete</a></small><br>
		{% else %}
		<hr>
	<br>
	<p>{{ post.body }}</p>
	{% endif %}
	

	<br><br>
	<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
{% endblock content %}